.dub
docs.json
__dummy.html
docs/
/sclid
libsclid.so
sclid.dylib
sclid.dll
sclid.a
sclid.lib
sclid-test-*
*.exe
*.o
*.obj
*.lst
.gradle/
.idea/*
!.idea/codeStyles/
build/
*~
misc
*.swp
*.iml
local.properties
.classpath
.project
.settings/
out/
